<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title>MercadoLiebre</title>
</head>
<body>

    <header>
       
        <img id="img-logo" src="/img/logo-mercado-liebre.svg" alt="imagen-logo">
        
        <nav>
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fa-regular fa-magnifying-glass"></i>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></i></a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Crea tu Cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Mis Compras<i class="fa-regular fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="card">
            <h2>
                Basado en tu última visita 
            </h2>

            <ul>
                <li><img src="/img/img-cafetera-moulinex.jpg" alt=""></li>
                <li id="card-precio">$6770</li>
                <li id="card-descuento">40% off</li>
                <li id="card-nombre">Cafetera Moulinex</li>
            </ul>

        </div>
        <div class="card">
            <h2>
                Sección de Ofertas 
            </h2>
            
            <ul>
                <li><img src="/img/img-macbook-pro-2019.jpg" alt=""></li>
                <li id="card-precio">$230.000</li>
                <li id="card-descuento">20% off</li>
                <li id="card-nombre">Macbook pro 2019</li>
            </ul>

        </div>
    </main>

    <footer>
        <div id="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h3>
                Pagá con tarjeta o efectivo
            </h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div id="footer">
            <i class="fa-solid fa-gift"></i>
            <h3>
                Envío gratis desde $ 2.500
            </h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div id="footer">
            <i class="fa-solid fa-user-shield"></i>
            <h3>
                Seguridad, de principio a fin
            </h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
    <script src="https://kit.fontawesome.com/d6019aa65f.js" crossorigin="anonymous"></script>
</body>
</html>
