*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
}

.nav ul{
    
    list-style-type: none;
    color: black;
}
.nav li{
    margin-left: 8px;
}

    /*header*/
header{
       
    background-color: #eac926;
       
}
.header-conf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
header a{
    text-decoration: none;
    display: none;
    color: black;
}
.header-logo{
    width: 50%;
}

#img-logo{
    max-width: 180px;
    margin: 15px;
}
.barra-busqueda{
    align-items: center;
    width: 50%;
}

.boton-busqueda{
    margin-left: -10px;
}
#p-header{
    margin:10px;
    text-align: center;

}
.boton-ham{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#magic-button{
    
    background-color: #1259c3;
    color: #ebebeb;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 10px;

}

    /*main*/
.articulos{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}
.varias-tarjetas{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.titulares{
    font-size: 24px;
    margin: 15px;
}
.card{
   
    width: 280px;
    border: solid 1px #ebebeb;
   
    background-color: white;
    border-radius: 5px;

}
.card:hover{
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}
.card:hover #card-nombre{
    display: block;
}

.card-list {
    border-top: solid 1px #ebebeb;
    padding: 10px;
    position: relative;

}
.precio-promo{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    
}
main i{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.card-list i:hover{
    transform: rotate(-90deg);
    transition: 2s;
}

#card-precio{
    font-size: 18px;
    padding-top: 10px;
    width: 30%;
    text-align: center;
    margin-left: 10px;
}
#card-descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    padding-right: 10px;
}
#card-nombre{
    font-size: 16px;
    padding-top: 10px;
    display: none;
}

/*main de usuario*/

#boton-login:hover{
    background-color: #0022aa;
    
}
.form-check-label{
    margin-bottom: 10px;
}

.form-register {
    width: 400px;
    background-color: #ebebeb;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
   
    
  }
  .form-register h2 {
   color: black;
    margin: 10px;
  }
  .controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    
    color: #666;
  }
  .form-register .botons {
    width: 100%;
    background: #1259c3;
    
    padding: 12px;
    color: white;
    margin: 16px 0;
    
  }
 .formulario{
   width: 100%;
    background-color: #ebebeb; 

}
.form-register li{
    list-style: none;
}
.p-usuario {
display: flex;
justify-content:space-around
}
.intereses{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
   
}
    
/* footer*/


        .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13%;
    }

#footer{
    text-align: center;
    margin: 20px;
    
    min-width: 200px;
    max-width: 380px;
}
#footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
#footer i:hover{
    color:#39b54a;
}

footer h4{
    margin: 5px;
    padding-left: 15px;
}
@media (min-width: 500px) {
    
    /*header*/
    header a {
        display: flex;
    }
    .header-conf{
        justify-content: center;
        align-items: center;
    }
    .boton-ham{
        display: none;
    }
    .barra-busqueda{
        width: 33%;
    }
    .header-logo{
        width: 33%;
    }
    .p-header{
        width: 33%;
    }
    .nav{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        color: black;
    }
    .acciones-header{
        display: flex;
        gap: 5px;
        margin: 10px;
        color: black;
    }
    .usuario-header{
        display: flex;
        gap: 5px;
        margin: 10px;
    }
     /*main login*/
     .form-control{
        width: 300px;
    }
       

    .card{
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
       

    }
    #card-nombre{
        display: block;
    }
   
   /*main registro*/
    

    /* footer*/
    .footer{
        
        padding: 30px;
    }
}
@media (min-width: 789px) {
    /*header*/
#barra-busqueda{
    width: 250px;
}
.nav li{
    margin-left: 12px;
}
    /*main*/


    /* footer*/
    .footer{
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
    }
}